html, body{
  height: 100%;
  width: 100%;
}

body{
  font-family: 'Comfortaa', cursive;
  background-color: black;
  color: white;
}

.navbar-custom{
  background-color: black;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #00cba8;
}

.navbar-custom .navbar-nav > li > a{
  color: #00cba8;
}

.navbar-custom .navbar-nav > li > a:hover{
  color: white;
  background-color: black;
}

.navbar-custom .navbar-toggle .icon-bar{
  background-color: #00cba8;
}

.landing-text{
  display: table-cell;
  text-align: center;
  padding-top: 7%;
}

.landing-text h1{
  font-size: 500%;
  color: #00cba8;
}

.greenHeader{
  color: #00cba8;
}

.btn-default{
  background-color: black;
  border-color: black;
  color: #00cba8;
}

.padding{
  padding: 80px 0;
}

footer{
  width: 100%;
  padding: 5% 5% 10% 5%;
  color: white;
}

.fa{
  padding: 20px 15px 15px 15px;
  font-size: 30px;
  color: white;
}

.fa:hover{
  color: #00cba8;
  text-decoration: none;
}

#home{
  background: url(/Users/jamesinglis/workspace/james-inglis-01.github.io/images/tokyo-night.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

#portfolioHeader{
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

#aboutHeader{
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

#me{
  height: 250px;
  border-radius: 5%;
}

@media (max-width: 768px) {
  .landing-text h1{
    font-size: 300%;
    padding-top: 15%;
  }
  .fa{
    font-size: 20px;
    padding: 10px;
  }
}