.topnav {
  background-color: black;
  overflow: hidden;
  text-align: center;
}
.topnav a {
    float: center;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
  color: rgb(235, 47, 220);
}
.mainTitle {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(235, 47, 220);
}
.one-third.column {
  text-align: center;
}
.bulletLinks {
  text-decoration: underline;
}
#profile {
  border-radius: 50%;
}
.wireframes {
  text-align: center;
}

body {
  color: #dcdcdc;
}